body {
    padding-bottom: 0;
}

#header {
    button {
        width: .5rem;
        height: .6rem;
        background: url(../images/arrows.png) no-repeat;
        background-size: 100%;
    }
    h6 {
        font-size: .5rem;
    }
    .tab {
        margin-top: 20px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        background-color: #233052;
        display: flex;
        li {
            width: 50%;
            border-radius: 15px;
        }
        .active {
            background-color: #fff;
            color: #000;
        }
    }
}

#main {
    padding: 0 20px;
    font-size: 16px;
    .main-showing,
    .main-notshow {
        >li {
            margin: 20px 0;
            display: flex;
            img {
                margin-right: 20px;
                width: 120px;
                border-radius: 10px;
            }
            >div {
                color: #000;
                font-size: .32rem;
                h5 {
                    width: 4rem;
                    margin: .2rem 0;
                    height: .6rem;
                    line-height: .6rem;
                    font-size: .44rem;
                    // 文本不换行
                    white-space: nowrap;
                    // 溢出隐藏
                    overflow: hidden;
                    // 溢出省略号显示
                    text-overflow: ellipsis;
                }
                p {
                    width: 4rem;
                    height: .5rem;
                    line-height: .5rem;
                    // 文本不换行
                    white-space: nowrap;
                    // 溢出隐藏
                    overflow: hidden;
                    // 溢出省略号显示
                    text-overflow: ellipsis;
                    &::before {
                        margin-right: .4rem;
                        color: #999;
                    }
                    &:nth-child(1)::before {
                        content: '类型';
                    }
                    &:nth-child(2)::before {
                        content: '片长';
                    }
                    &:nth-child(3)::before {
                        content: '评分';
                    }
                }
                span {
                    margin-top: 10px;
                    display: inline-block;
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: #4073ff;
                    font-size: 14px;
                    background-color: #edf0f9;
                    border-radius: 5px;
                }
            }
        }
    }
}