@charset "UTF-8";
#main .movie-select {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #ccc;
}

#main .movie-select ul {
  min-height: 40px;
  position: relative;
  padding: 5px 0 5px 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#main .movie-select ul:nth-child(-n+3) {
  border-bottom: 1px dashed #ccc;
}

#main .movie-select ul::before {
  margin-top: 8px;
  position: absolute;
  left: 10px;
  color: #999;
}

#main .movie-select ul li {
  margin: 5px 0;
  border-radius: 5px;
  padding: 3px 20px;
  cursor: pointer;
  transition: all .3s;
}

#main .movie-select ul .active {
  color: #fff;
  background-color: #FA9136;
}

#main .movie-select .type::before {
  content: '类型:';
}

#main .movie-select .place::before {
  content: '区域:';
}

#main .movie-select .year::before {
  content: '年代:';
}

#main .movie-list .list-top {
  margin: 40px 0 20px;
}

#main .movie-list .list-top span {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  width: 130px;
  height: 20px;
  line-height: 20px;
  text-indent: 20px;
  cursor: pointer;
}

#main .movie-list .list-top span::before, #main .movie-list .list-top span::after {
  position: absolute;
  top: 50%;
  content: '';
  border-radius: 50%;
  transform: translateY(-50%);
}

#main .movie-list .list-top span::before {
  left: 5px;
  width: 7px;
  height: 7px;
  background-color: #fff;
}

#main .movie-list .list-top span::after {
  left: 0;
  width: 15px;
  height: 15px;
  z-index: -1;
  border: 1px solid #ccc;
}

#main .movie-list .list-top .active::after {
  border-color: transparent;
  background-color: #FA9136;
}

#main .movie-list ul.list-middle li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 20px 0;
  float: left;
  width: 175px;
  height: 287px;
  cursor: pointer;
}

#main .movie-list ul.list-middle li img {
  width: 100%;
  height: 220px;
}

#main .movie-list ul.list-middle li:nth-child(6n) {
  margin-right: 0;
}

#main .movie-list ul.list-middle li span {
  margin: 10px 0;
}

#main .movie-list ul.list-middle li i {
  font-style: italic;
  color: #FA9136;
  font-size: 25px;
}

#main .movie-list ul.list-middle li .detail {
  display: none;
  position: absolute;
  top: -40px;
  bottom: 40px;
  left: -30px;
  right: -30px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

#main .movie-list ul.list-middle li .detail > div {
  padding: 10px 15px;
}

#main .movie-list ul.list-middle li .detail h6 {
  padding-right: 40px;
  font-weight: 400;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .movie-list ul.list-middle li .detail h6 i {
  position: absolute;
  right: 5px;
}

#main .movie-list ul.list-middle li .detail img {
  width: 100%;
  height: 150px;
}

#main .movie-list ul.list-middle li .detail p {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .movie-list ul.list-middle li .detail span {
  color: #999;
}

#main .movie-list .clearfix:before,
#main .movie-list .clearfix:after {
  content: "";
  display: table;
}

#main .movie-list .clearfix:after {
  clear: both;
}

#main .movie-list .clearfix {
  *zoom: 1;
}

#main .list-foot {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin: 30px auto;
}

#main .list-foot span {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

#main .list-foot .active {
  color: white;
  background-color: orange;
  border: none;
}
