#main .header div::after {
  width: 100%;
}

#main .header div span:nth-child(3),
#main .header div span:nth-child(4) {
  background-color: #f99135;
}

#main .header div span:nth-child(3)::after,
#main .header div span:nth-child(4)::after {
  color: #ffbb7f;
}

#main .countdown {
  overflow: hidden;
  padding-left: 80px;
  height: 100px;
  background: url(../images/yes.png) no-repeat 20px center;
  background-color: #fff3f3;
}

#main .countdown p {
  margin: 30px 0 5px;
  font-size: 18px;
  font-weight: 700;
}

#main .countdown span {
  font-size: 12px;
}

#main .sessions {
  margin: 40px 0;
}

#main .sessions > p {
  height: 30px;
  line-height: 30px;
  text-indent: 15px;
  font-size: 12px;
  background: url(../images/gth.png) no-repeat left center;
}

#main .sessions .order {
  border: 1px solid #ddd;
}

#main .sessions .order .order-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #eee;
}

#main .sessions .order .order-top p {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
}

#main .sessions .order .order-top .time {
  padding-right: 30px;
  color: #333;
}

#main .sessions .order .order-top .delete {
  width: 20px;
  height: 20px;
  background: url(../images/sc.png) no-repeat center;
}

#main .sessions .order .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#main .sessions .order .details .movie {
  display: flex;
}

#main .sessions .order .details .movie div {
  margin-left: 15px;
}

#main .sessions .order .details .movie img {
  height: 85px;
  box-shadow: 0 0 5px 1px #e1e1e1;
}

#main .sessions .order .details .movie h6 {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}

#main .sessions .order .details .movie p {
  height: 18px;
  line-height: 18px;
  color: #999;
  font-size: 12px;
}

#main .sessions .order .details .movie .seat {
  margin-right: 5px;
}

#main .sessions .order .details .movie .time {
  color: #FA9136;
  font-size: 12px;
}

#main .sessions .order .details > span {
  font-size: 14px;
}

#main .sessions .order .details button {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #FA9136;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}
