#header {
  margin-bottom: 1.2rem;
  padding: 2rem 0 0 .5rem;
}

#header i {
  width: 25px;
  height: 25px;
  margin-right: .3rem;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/home-page.png) no-repeat;
  background-size: 100%;
}

#header h5 {
  padding-bottom: .4rem;
  font-size: .4rem;
}

#header .user {
  display: inline-block;
  vertical-align: top;
  max-width: 3.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header h6 {
  font-size: .5rem;
}

#header h6 i {
  width: .6rem;
  height: .51rem;
}

#header .address {
  padding: 0 .1rem 0 .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 99%;
  width: 100vw;
  height: 1.2rem;
  background-color: #233052;
}

#header .address i:first-child {
  width: .4rem;
  height: .48rem;
  background-position-y: -0.38rem;
}

#header .address span {
  vertical-align: middle;
  font-size: .4rem;
}

#header .address i:last-child {
  margin-left: .8rem;
  width: .5rem;
  height: .24rem;
  background-position-y: -1.1rem;
}

#main {
  font-size: 16px;
}

#main .cinema {
  padding: 20px;
}

#main .cinema li {
  margin-bottom: 20px;
  display: flex;
}

#main .cinema li img {
  margin-right: 20px;
  width: 130px;
  height: 80px;
  border-radius: 10px;
}

#main .cinema li div:last-child {
  flex: 1;
}

#main .cinema li h6 {
  width: 200px;
  margin: 15px 0 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .cinema li span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 20px;
  background: url(../images/add.png) no-repeat;
  background-size: 100%;
}
