@charset "UTF-8";
body {
  padding-bottom: 0;
}

#header {
  height: 200px;
  position: relative;
  background: url(../images/3.png) no-repeat center top;
  background-size: 100%;
}

#header button {
  position: absolute;
  left: 20px;
  top: 65px;
  width: .5rem;
  height: .6rem;
  background: url(../images/arrows.png) no-repeat;
  background-size: 100%;
}

#main {
  padding: 0 20px;
  font-size: 16px;
}

#main .main-top h6 {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

#main .main-top ul {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

#main .main-top ul li {
  display: flex;
  flex-direction: column;
}

#main .main-top ul li span:first-child {
  font-weight: 700;
}

#main .main-top ul li span:last-child {
  color: #999;
  font-size: 12px;
}

#main .main-con::before {
  content: '特色电影';
  font-weight: 700;
}

#main .main-con > li {
  margin: 20px 0;
  display: flex;
}

#main .main-con > li img {
  margin-right: 20px;
  width: 110px;
  border-radius: 10px;
}

#main .main-con > li h6 {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

#main .main-con > li p {
  color: #396dff;
}

#main .main-con > li ul {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#main .main-con > li ul::before {
  position: absolute;
  top: 0;
  content: '放映时间';
  color: #999;
}

#main .main-con > li ul li {
  margin: 5px;
  margin-left: 0;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #aec5fb;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}
