@charset "UTF-8";
body {
  padding-bottom: 0rem;
}

#header {
  position: relative;
  height: 5.2rem;
  background: url("../images/gsljg.png") no-repeat;
  background-position-y: -0.8rem;
  background-size: 100%;
}

#header button {
  width: .5rem;
  height: .6rem;
  background: url("../images/arrows.png") no-repeat;
  background-size: 100%;
}

#header .movie {
  position: absolute;
  top: 2.3rem;
  left: 0;
  width: 100vw;
  height: 3.4rem;
  background-color: #fff;
}

#header .movie img {
  position: absolute;
  top: -0.4rem;
  left: .6rem;
  width: 2.4rem;
  border-radius: .3rem;
}

#header .movie > div {
  position: absolute;
  left: 3.4rem;
  color: #000;
  font-size: .32rem;
}

#header .movie > div h5 {
  width: 4rem;
  margin: .2rem 0;
  height: .6rem;
  line-height: .6rem;
  font-size: .44rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header .movie > div p {
  width: 4rem;
  height: .5rem;
  line-height: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header .movie > div p::before {
  margin-right: .4rem;
  color: #999;
}

#header .movie > div p:nth-child(1)::before {
  content: '类型';
}

#header .movie > div p:nth-child(2)::before {
  content: '片长';
}

#header .movie > div p:nth-child(3)::before {
  content: '评分';
}

#main {
  border-top: .4rem solid #edf0f9;
  background-color: #fff;
  font-size: .32rem;
  margin-top: .4rem;
}

#main .main-tab {
  border-bottom: .02rem solid #ccc;
  height: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-around;
}

#main .main-tab li {
  padding: 0 1rem;
  text-align: center;
  font-size: .4rem;
  font-weight: 700;
}

#main .main-tab .active {
  border-bottom: .1rem solid #4073ff;
}

#main .con {
  padding-bottom: 1rem;
}

#main .con .schedule div.box {
  padding: .4rem 0;
  border-bottom: .02rem solid #ccc;
  overflow: hidden;
}

#main .con .schedule div.box ul {
  padding: 0 .4rem;
  display: flex;
}

#main .con .schedule div.box ul li {
  min-width: 1.4rem;
  min-height: 1.4rem;
  margin-right: .5rem;
  text-align: center;
  border-radius: .3rem;
  border: .02rem solid #ccc;
  font-weight: 700;
}

#main .con .schedule div.box ul li::before {
  margin: .3rem 0 .2rem;
  display: block;
}

#main .con .schedule div.box ul li:nth-child(1)::before {
  content: '星期一';
}

#main .con .schedule div.box ul li:nth-child(2)::before {
  content: '星期二';
}

#main .con .schedule div.box ul li:nth-child(3)::before {
  content: '星期三';
}

#main .con .schedule div.box ul li:nth-child(4)::before {
  content: '星期四';
}

#main .con .schedule div.box ul li:nth-child(5)::before {
  content: '星期五';
}

#main .con .schedule div.box ul li:nth-child(6)::before {
  content: '星期六';
}

#main .con .schedule div.box ul li:nth-child(7)::before {
  content: '星期天';
}

#main .con .schedule div.box ul .active {
  border: none;
  background-color: #4073ff;
  color: #fff;
}

#main .con .schedule ul.cinemas {
  padding: .4rem;
}

#main .con .schedule ul.cinemas > li h6 {
  height: .6rem;
  line-height: .6rem;
  font-weight: 700;
  font-size: .4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .con .schedule ul.cinemas > li p.address {
  height: .5rem;
  line-height: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

#main .con .schedule ul.cinemas > li p.address i {
  padding-left: .4rem;
  font-style: normal;
  background: url(../images/add.png) no-repeat;
  background-size: contain;
}

#main .con .schedule ul.cinemas > li p.price {
  font-weight: 700;
  margin-top: .4rem;
}

#main .con .schedule ul.cinemas > li ul.time {
  margin: .3rem 0;
  display: flex;
  flex-wrap: wrap;
}

#main .con .schedule ul.cinemas > li ul.time li {
  margin-right: .1rem;
  margin-bottom: .2rem;
  min-width: 1.24rem;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  font-weight: 700;
  border-radius: .1rem;
  border: .02rem solid #d1dfff;
}

#main .con .schedule ul.cinemas > li ul.time .active {
  border: none;
  background-color: #4073ff;
  color: #fff;
}

#main .con .schedule ul.cinemas > li ul.time .pastdue {
  border: none;
  background-color: #edf0f9;
}

#main .con .schedule .seat {
  width: 100%;
  padding: 0 .4rem;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

#main .con .schedule .seat button {
  margin: .4rem 0;
  width: 100%;
  height: 1rem;
  color: #fff;
  font-size: .4rem;
  background-color: #4073ff;
  border-radius: .14rem;
}

#main .con .intro {
  padding: .6rem .5rem 0;
  line-height: .4rem;
}
